@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Obituario>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
	
	var image = Model.Value<IPublishedContent>("imagen");
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Obituarios</h2>
                        <p>
                            En memoria amorosa de aquellos que han pasado al descaso, honramos sus vidas y legados aquí. Este
                            espacio es dedicado a recordar a quienes nos dejaron. Sus recuerdos y sus obras perduran en nuestros
                            corazones para siempre.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="/">Inicio</a></li>
                    <li>Obituarios</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Blog Details Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row g-5">

                <div class="col-lg-12">

                    <article class="blog-details">
                         
                        <div class="post-img">
                            <img src=" @image.Url()" alt="" class="img-fluid">
                        </div>

                        <h2 class="title" style="text-align:center;">@Model.Value("nombre")</h2>
                        <h5 style="text-align:center;">@Model.Value("dateOfBirthObituary") - @Model.Value("dateOfDeathObituary")</h5> 
  
                        <div class="content">
                            <p> @Model.Value("texto") </p> 
                            
                        </div><!-- End post content -->

                      
                        @*<div class="meta-bottom">
                            <i class="bi bi-folder"></i>
                            <ul class="cats">
                                <li><a href="#"></a></li>
                            </ul>

                            <i class="bi bi-tags"></i>
                            <ul class="tags">
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                        </div>
                        <!-- End meta bottom -->
                        *@
                    </article><!-- End blog post -->

                </div> 

            </div>

        </div>
    </section><!-- End Blog Details Section -->

</main>